#content
{
	margin:10px 24px;
}

#tabsHolder
{
	margin-top:5px;

}

#tabs
{
	margin:0;
}

#tabs a
{
	border:0px solid #000;
	background-color:url(../imagenes/bg_menu.png) repeat-x;
	
	color:#000;
	font-weight:bold;
	display:block;
	padding:3px 10px;
	float:left;
	cursor:pointer;
	margin-right:5px;
	margin-bottom:0;
	text-decoration:none;
	border-bottom:none
}

#tabs a.on
{
	background:url(../imagenes/bg_menu.png) repeat-x;
	color:#000;
}
#tabsTarget
{
	border:1px solid #000;
	padding-bottom:5px;
	padding-top:20px;	
	margin-top:0;
	
}

form
{
	margin:0;
}

#tabsTarget fieldset
{
	margin:0;
	border:none;
}

#tabsTarget label
{
	display:block;
	float:left;
	width:150px;
	font-weight:bold;
	padding-top:3px;
	margin-right:5px;
}

#tabsTarget label.alignRight
{
	text-align:right;
}

#tabsTarget label.twoColumns
{
	width:100px;
}

#tabsTarget .holderSubmit
{
	margin-top:3px;
	text-align:center;
}

#tabsTarget  br
{
	clear:both;
}

#tabsTarget input.inputText, textarea
{
	width:715px;
	margin-bottom:5px;
	
}

#tabsTarget input.inputMedium
{
	width:250px;
	float:left;
}

#tabsTarget select
{
	float:left;
	margin-right:10px;
}

#tabsTarget input.inputFecha
{
	width:100px;
	float:left;
}

#tabsTarget input.btnCal
{
	float:left;
}

#resultados
{
	margin-top:30px;
	margin-bottom:30px;	
	margin-left:10px;
	margin-right:10px;
}

#tbResultados
{
	width:100%;
	margin:0 auto;
	border:1px solid #000;
}

#tbResultados caption
{
	background:url(../imagenes/bg_menu.png) repeat-x;
	border:0px solid #000;	
	border-bottom:0;
	color:#000;
	font-size:14px;
	text-transform:uppercase;
	font-family:"Arial Black";
	padding:5px 10px;	
}

#tbResultados th
{
	text-align:center;
	
	padding:5px 10px;
	color:#000;
	background:#EEE;
	font-weight:bold;
	border-bottom:1px solid #000;		

}

#tbResultados td
{
	padding:5px 10px;
	text-align:center;
}


.detalle
{
	width:730px;
	
	
}

.detalle .numSolicitud
{
	text-align:right;
	margin-right:5px;
	font-weight:bold;
	font-style:italic;
	
}

.detalle .titulo
{
	background: url(../imagenes/bg_tit_detalle.png) repeat-x;
	background: #000;
	margin-right:5px;
	padding-top:4px;
	padding-right:4px;
	height:19px;
	text-align:center;
	color:#FFF;
	font-size:14px;
	font-weight:bold;
	border:1px solid #000;
}

.detalle .datos
{
	padding:2px 5px; 
	background:url(../imagenes/bg_menu.png) repeat-x;
	border:0px solid #000;	
}

.detalle .contenido
{
	border:1px solid #000;
	padding:10px 15px;
	text-align:justify;
}



ul.mensajes
{
	margin: 5px auto;
	background:#DDD;
	color:#063;
	width:600px;
	padding:5px 25px;
}

ul.mensajes li
{
	margin:0;
	margin-bottom:2px;
	margin-top:2px;
}

#formLogin
{
	width: 400px;
	margin:0 auto;
	background: #FFF;
	
}

#formLogin  fieldset
{
	border:2px solid #AAA;	
	background: #EEE;
}

#formLogin  fieldset legend
{
	font-weight:bold;
	padding:5px;
}

#formLogin label
{
	display:block;
	float:left;
	width:130px;
	padding-top:3px;
}

#formLogin .holderSubmit
{
	margin-top:10px;
	text-align:center;
}

#historiales
{
	margin-top:10px;
	margin-bottom:10px;	
	margin-left:20px;
	margin-right:20px;
}

#tbHistoriales
{
	width:80%;
	margin:0 auto;
	border:0px solid #000;
}

