/* begin Page */
/* Created by Artisteer v3.0.0.41778 */

#Webmain, table
{
    font-family: Arial, Helvetica, Sans-Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
    margin: 0;
    padding: 0;
}

.Webpostcontent,
.Webpostcontent li,
.Webpostcontent table,
.Webpostcontent a,
.Webpostcontent a:link,
.Webpostcontent a:visited,
.Webpostcontent a.visited,
.Webpostcontent a:hover,
.Webpostcontent a.hovered
{
    font-family: Arial, Helvetica, Sans-Serif;
}

.Webpostcontent p
{
    margin: 12px 0;
}

h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
h1 a:link, h2 a:link, h3 a:link, h4 a:link, h5 a:link, h6 a:link,
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited,
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover
{
  font-family: Arial, Helvetica, Sans-Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  text-decoration: none;
}

.Webpostcontent a
{
  text-decoration: none;
  color: #EDDFA6;
}

.Webpostcontent a:link
{
  text-decoration: none;
  color: #EDDFA6;
}

.Webpostcontent a:visited, .Webpostcontent a.visited
{
  color: #C0B7A0;
}

.Webpostcontent  a:hover, .Webpostcontent a.hover
{
  text-decoration: underline;
  color: #D1AF29;
}

.Webpostcontent h1
{
   color: #D1AF29;
margin: 21px 0;    
}

.Webblockcontent h1
{
margin: 21px 0; 
}

.Webpostcontent h2
{
   color: #F59D05;
margin: 19px 0;
   font-size: 24px;    
}

.Webblockcontent h2
{
margin: 19px 0;
   font-size: 24px; 
}

.Webpostcontent h2 a, .Webpostcontent h2 a:link, .Webpostcontent h2 a:hover, .Webpostcontent h2 a:visited, .Webblockcontent h2 a, .Webblockcontent h2 a:link, .Webblockcontent h2 a:hover, .Webblockcontent h2 a:visited 
{
   font-size: 24px; 
}

.Webpostcontent h3
{
   color: #E9E6DD;
margin: 19px 0;
   font-size: 19px;    
}

.Webblockcontent h3
{
margin: 19px 0;
   font-size: 19px; 
}

.Webpostcontent h3 a, .Webpostcontent h3 a:link, .Webpostcontent h3 a:hover, .Webpostcontent h3 a:visited, .Webblockcontent h3 a, .Webblockcontent h3 a:link, .Webblockcontent h3 a:hover, .Webblockcontent h3 a:visited 
{
   font-size: 19px; 
}

.Webpostcontent h4
{
   color: #FEE4B9;
margin: 20px 0;
   font-size: 16px;    
}

.Webblockcontent h4
{
margin: 20px 0;
   font-size: 16px; 
}

.Webpostcontent h4 a, .Webpostcontent h4 a:link, .Webpostcontent h4 a:hover, .Webpostcontent h4 a:visited, .Webblockcontent h4 a, .Webblockcontent h4 a:link, .Webblockcontent h4 a:hover, .Webblockcontent h4 a:visited 
{
   font-size: 16px; 
}

.Webpostcontent h5
{
   color: #FEE4B9;
margin: 26px 0;
   font-size: 13px;    
}

.Webblockcontent h5
{
margin: 26px 0;
   font-size: 13px; 
}

.Webpostcontent h5 a, .Webpostcontent h5 a:link, .Webpostcontent h5 a:hover, .Webpostcontent h5 a:visited, .Webblockcontent h5 a, .Webblockcontent h5 a:link, .Webblockcontent h5 a:hover, .Webblockcontent h5 a:visited 
{
   font-size: 13px; 
}

.Webpostcontent h6
{
   color: #FDD796;
margin: 35px 0;
   font-size: 11px;    
}

.Webblockcontent h6
{
margin: 35px 0;
   font-size: 11px; 
}

.Webpostcontent h6 a, .Webpostcontent h6 a:link, .Webpostcontent h6 a:hover, .Webpostcontent h6 a:visited, .Webblockcontent h6 a, .Webblockcontent h6 a:link, .Webblockcontent h6 a:hover, .Webblockcontent h6 a:visited 
{
   font-size: 11px; 
}

ul
{
  list-style-type: none;
}

ol
{
  list-style-position: inside;
}

html 
{
    height:100%;
}

#Webmain
{
  position: relative;
  z-index: 0;
  width: 100%;
  left: 0;
  top: 0;
  cursor:default;
  overflow:visible;
}

#Webpage-background-glare
{
  position: absolute;
  left: 50%;
  margin-left :-400px;
  top:0;
  width:800px;
  height:160px;
  overflow:hidden;
  min-width: 800px;
}

#Webpage-background-glare-image
{
  position: fixed;
  width:800px;
  top: 0;
  height:160px;
  background-image: url('../images/page_gl.png');
  background-repeat: no-repeat;
}

html:first-child #Webpage-background-glare
{
  border: 1px solid transparent; /* Opera fix */
}

body
{
  padding: 0; 
  margin:0;
  color: #A99E7E;
  height:100%;
  min-height:100%;
  background-color: #323A31;
  background-image: url('../images/Bottom_texture.jpg');
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: top left;
  min-width: 800px;
}

.cleared
{
  display:block;
  clear: both;
  float: none;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 0;
  height:0;
  overflow:hidden;
}

.reset-box
{
  overflow:hidden;
  display:table; 
}

form
{
  padding: 0 !important;
  margin: 0 !important;
}

table.position
{
  position: relative;
  width: 100%;
  table-layout: fixed;
}

/* end Page */

/* begin Box, Sheet */
.Websheet
{
  position: relative;
  margin: 0 auto;
  min-width: 25px;
  min-height: 25px;
  margin-top: 47px;
  margin-bottom: -3px;
  cursor:auto;
  width: 800px;
}

.Websheet-body
{
  position: relative;
  padding: 4px;
    padding-top:4px;
    padding-bottom:4px;
}

.Websheet-tr, .Websheet-tl, .Websheet-br, .Websheet-bl, .Websheet-tc, .Websheet-bc,.Websheet-cr, .Websheet-cl
{
  position: absolute;
}

.Websheet-tr, .Websheet-tl, .Websheet-br, .Websheet-bl
{
  width: 36px;
  height: 36px;
  background-image: url('../images/sheet_s.png');
}

.Websheet-tl
{
  top: 0;
  left: 0;
  clip: rect(auto, 18px, 18px, auto);
}

.Websheet-tr
{
  top: 0;
  right: 0;
  clip: rect(auto, auto, 18px, 18px);
}

.Websheet-bl
{
  bottom: 0;
  left: 0;
  clip: rect(18px, 18px, auto, auto);
}

.Websheet-br
{
  bottom: 0;
  right: 0;
  clip: rect(18px, auto, auto, 18px);
}

.Websheet-tc, .Websheet-bc
{
  left: 18px;
  right: 18px;
  height: 36px;
  background-image: url('../images/sheet_h.png');
}

.Websheet-tc
{
  top: 0;
  clip: rect(auto, auto, 18px, auto);
}

.Websheet-bc
{
  bottom: 0;
  clip: rect(18px, auto, auto, auto);
}

.Websheet-cr, .Websheet-cl
{
  top: 18px;
  bottom: 18px;
  width: 36px;
  background-image: url('../images/sheet_v.png');
}

.Websheet-cr
{
  right: 0;
  clip: rect(auto, auto, auto, 18px);
}

.Websheet-cl
{
  left: 0;
  clip: rect(auto, 18px, auto, auto);
}

.Websheet-cc
{
  position: absolute;
  top: 18px;
  left: 18px;
  right: 18px;
  bottom: 18px;
  background-color: #211E17;
}

#Webpage-background-top-texture, #Webpage-background-middle-texture{
  min-width: 800px;
}

/* end Box, Sheet */

/* begin Header */
div.Webheader
{
    margin: 0 auto;
  position: relative;
  width:100%;
  height: 150px;
  margin-top: 0;
  margin-bottom: 0;
}

div.Webheader-clip
{
  position: absolute;
  width:100%;
  left:0;
  overflow:hidden;
  height:150px;
}

div.Webheader-center
{
	position: relative;
	width: 792px;
	left:50%;
}

div.Webheader-png
{
  position: absolute;
  left:-50%;
  top: 0;
  width: 792px;
  height: 150px;
  background-image: url('../images/header.png');
  background-repeat: no-repeat;
  background-position:center center; 
}

div.Webheader-jpeg
{
  position: absolute;
  top: 0;
  left:-50%;
  width: 792px;
  height: 150px;
  background-image: url('../images/header.jpg');
  background-repeat: no-repeat;
  background-position: center center;
}
/* end Header */

/* begin Logo */
div.Weblogo
{
  display: block;
  position: absolute;
  top: 51px;
  left: 0;
  margin-left: 12px;
}

h1.Weblogo-name
{
  display: block;
  text-align: left;
  font-size: 28px;
  padding: 0;
  margin: 0;
  color: #46402F !important;
}
h1.Weblogo-name a, 
h1.Weblogo-name a:link, 
h1.Weblogo-name a:visited, 
h1.Weblogo-name a:hover
{
  font-size: 28px;
  padding: 0;
  margin: 0;
  color: #46402F !important;
}

h2.Weblogo-text
{
  display: block;
  text-align: left;
  font-size: 14px;
  padding: 0;
  margin: 0;
  color: #734A02 !important;
}
h2.Weblogo-text a,
h2.Weblogo-text a:link,
h2.Weblogo-text a:visited,
h2.Weblogo-text a:hover
{
  font-size: 14px;
  padding: 0;
  margin: 0;
  color: #734A02 !important;
}

#headline, #slogan 
{
    display: block;
    min-width: 150px;
    text-align: left;
}
/* end Logo */

/* begin Menu */
/* menu structure */

.Webhmenu a, .Webhmenu a:link, .Webhmenu a:visited, .Webhmenu a:hover
{
    outline: none;
}

.Webhmenu, .Webhmenu ul
{
  margin: 0;
  padding: 0;
  border: 0;
  list-style-type: none;
  display: block;
}

.Webhmenu li
{
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
  float: left;
  position: relative;
  z-index: 5;
  background: none;
}

.Webhmenu li:hover
{
  z-index: 10000;
  white-space: normal;
}

.Webhmenu li li
{
  float: none;
}

.Webhmenu ul
{
  visibility: hidden;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  background: none;
  min-height: 0;
  background-image: url('../images/spacer.gif');
  padding: 10px 30px 30px 30px;
  margin: -10px 0 0 -30px;
}

.Webhmenu li:hover>ul
{
  visibility: visible;
  top: 100%;
}

.Webhmenu li li:hover>ul
{
  top: 0;
  left: 100%;
}

.Webhmenu:after, .Webhmenu ul:after
{
  content: ".";
  height: 0;
  display: block;
  visibility: hidden;
  overflow: hidden;
  clear: both;
}
.Webhmenu{
  min-height: 0;
  position:relative;
  padding: 6px 6px 6px 6px;
}

.Webhmenu ul ul
{
  padding: 30px 30px 30px 10px;
  margin: -30px 0 0 -10px;
}

/* menu structure */

.Webnav
{
   position: relative;
  margin:0 auto;
  min-height: 38px;
  z-index: 100;
    margin-top: 0;
    margin-bottom: 0;
}

.Webnav-outer
{
    position:absolute;
    width:100%;
}

.Webnav-l, .Webnav-r
{
  position: absolute;
  z-index: -1;
  top: 0;
  height: 100%;
  background-image: url('../images/nav.png');
}

.Webnav-l
{
  left: 0;
  right: 5px;
}

.Webnav-r
{
  right: 0;
  width: 792px;
  clip: rect(auto, auto, auto, 787px);
}

/* end Menu */

/* begin MenuItem */
.Webhmenu a
{
  position: relative;
  display: block;
  overflow: hidden;
  height: 26px;
  cursor: pointer;
  text-align: left;
  text-decoration: none;
}

.Webhmenu ul li
{
    margin:0;
    clear: both;
}

.Webhmenu a .r, .Webhmenu a .l
{
  position: absolute;
  display: block;
  top: 0;
  z-index: -1;
  height: 88px;
  background-image: url('../images/menuitem.png');
}

.Webhmenu a .l
{
  left: 0;
  right: 4px;
}

.Webhmenu a .r
{
  width: 408px;
  right: 0;
  clip: rect(auto, auto, auto, 404px);
}

.Webhmenu a .t, .Webhmenu ul a, .Webhmenu a:link, .Webhmenu a:visited, .Webhmenu a:hover
{
  text-align: left;
  text-decoration: none;
}

.Webhmenu a .t
{
  color: #DCD8CB;
  padding: 0 14px;
  margin: 0 4px;
  line-height: 26px;
  text-align: center;
}

.Webhmenu a:hover .l, .Webhmenu a:hover .r
{
  top: -31px;
}

.Webhmenu li:hover>a .l, .Webhmenu li:hover>a .r
{
  top: -31px;
}

.Webhmenu li:hover a .l, .Webhmenu li:hover a .r
{
  top: -31px;
}
.Webhmenu a:hover .t
{
  color: #221F16;
}

.Webhmenu li:hover a .t
{
  color: #221F16;
}

.Webhmenu li:hover>a .t
{
  color: #221F16;
}

.Webhmenu a.active .l, .Webhmenu a.active .r
{
  top: -62px;
}

.Webhmenu a.active .t
{
  color: #FEE6BE;
}
/* end MenuItem */

/* begin MenuSeparator */
.Webhmenu .Webhmenu-li-separator
{
  display: block;
  width: 9px;
  height:26px;
}
.Webnav .Webhmenu-separator
{
  display: block;
  margin:0 auto;
  width: 1px;
  height: 26px;
  background-image: url('../images/menuseparator.png');
}
/* end MenuSeparator */

/* begin MenuSubItem */
.Webhmenu ul a
{
  display: block;
  white-space: nowrap;
  height: 26px;
  width: 180px;
  overflow: hidden;
  background-image: url('../images/subitem.png');
  background-position: left top;
  background-repeat: repeat-x;
  border-width: 1px;
  border-style: solid;
  border-color: #A39775;
  text-align: left;
  text-indent: 12px;
  text-decoration: none;
  line-height: 26px;
  color: #DCD8CB;
  font-size: 12px;
  margin:0;
  padding:0;
}

.Webnav ul.Webhmenu ul span, .Webnav ul.Webhmenu ul span span
{
  display: inline;
  float: none;
  margin: inherit;
  padding: inherit;
  background-image: none;
  text-align: inherit;
  text-decoration: inherit;
}

.Webhmenu ul a:link, .Webhmenu ul a:visited, .Webhmenu ul a:hover, .Webhmenu ul a:active, .Webnav ul.Webhmenu ul span, .Webnav ul.Webhmenu ul span span
{
  text-align: left;
  text-indent: 12px;
  text-decoration: none;
  line-height: 26px;
  color: #DCD8CB;
  font-size: 12px;
  margin:0;
  padding:0;
}

.Webhmenu ul li a:hover
{
  color: #000000;
  border-color: #A39775;
  background-position: 0 -26px;
}

.Webhmenu ul li:hover>a
{
  color: #000000;
  border-color: #A39775;
  background-position: 0 -26px;
}

.Webnav .Webhmenu ul li a:hover span, .Webnav .Webhmenu ul li a:hover span span
{
  color: #000000;
}

.Webnav .Webhmenu ul li:hover>a span, .Webnav .Webhmenu ul li:hover>a span span
{
  color: #000000;
}

/* end MenuSubItem */

/* begin Layout */
.Webcontent-layout
{
  display: table;
  position:relative;
  margin: 0 auto;
  table-layout: fixed;
  border-collapse: collapse;
  background-color: Transparent;
  border: none !important;
  padding:0 !important;
  width:100%;
  margin-top:0;
  margin-bottom:0;
}
.Weblayout-cell, .Webcontent-layout-row
{
  background-color: Transparent;
  vertical-align: top;
  text-align: left;
  border: none;
  margin:0;
  padding:0;
}

.Webcontent-layout .Webcontent-layout{margin:0;}
.Webcontent-layout .Weblayout-cell, .Webcontent-layout .Weblayout-cell .Webcontent-layout .Weblayout-cell{display: table-cell;}
.Weblayout-cell .Weblayout-cell{display: block;}
.Webcontent-layout-row {display: table-row;}
.Weblayout-glare{position:relative;}/* end Layout */

/* begin Box, Block */
.Webblock
{
  position: relative;
  min-width: 1px;
  min-height: 1px;
  margin: 10px;
}

.Webblock-body
{
  position: relative;
  padding: 0;
}

div.Webblock img
{
/* WARNING do NOT collapse this to 'border' - inheritance! */
    border-color: #776D50;
  border-style: solid;
  margin: 10px;
}

/* end Box, Block */

/* begin BlockHeader */
.Webblockheader
{
  margin-bottom: 0;
  position: relative;
  height: 38px;
}

.Webblockheader h3.t
{
  position: relative;
  height: 38px;
  color: #FBAF2D;
  font-size: 14px;
  margin:0;
  padding: 0 10px 0 5px;
  white-space: nowrap;
  line-height: 38px;
}

.Webblockheader h3.t a,
.Webblockheader h3.t a:link,
.Webblockheader h3.t a:visited, 
.Webblockheader h3.t a:hover
{
  color: #FBAF2D;
  font-size: 14px;
}

/* end BlockHeader */

/* begin Box, BlockContent */
.Webblockcontent
{
  position: relative;
  margin: 0 auto;
  min-width: 19px;
  min-height: 19px;
}

.Webblockcontent-body
{
  position: relative;
  padding: 4px;
  color: #BCB39A;
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 13px;
}

.Webblockcontent-tr, .Webblockcontent-tl, .Webblockcontent-br, .Webblockcontent-bl, .Webblockcontent-tc, .Webblockcontent-bc,.Webblockcontent-cr, .Webblockcontent-cl
{
  position: absolute;
}

.Webblockcontent-tr, .Webblockcontent-tl, .Webblockcontent-br, .Webblockcontent-bl
{
  width: 18px;
  height: 18px;
  background-image: url('../images/blockcontent_s.png');
}

.Webblockcontent-tl
{
  top: 0;
  left: 0;
  clip: rect(auto, 9px, 9px, auto);
}

.Webblockcontent-tr
{
  top: 0;
  right: 0;
  clip: rect(auto, auto, 9px, 9px);
}

.Webblockcontent-bl
{
  bottom: 0;
  left: 0;
  clip: rect(9px, 9px, auto, auto);
}

.Webblockcontent-br
{
  bottom: 0;
  right: 0;
  clip: rect(9px, auto, auto, 9px);
}

.Webblockcontent-tc, .Webblockcontent-bc
{
  left: 9px;
  right: 9px;
  height: 18px;
  background-image: url('../images/blockcontent_h.png');
}

.Webblockcontent-tc
{
  top: 0;
  clip: rect(auto, auto, 9px, auto);
}

.Webblockcontent-bc
{
  bottom: 0;
  clip: rect(9px, auto, auto, auto);
}

.Webblockcontent-cr, .Webblockcontent-cl
{
  top: 9px;
  bottom: 9px;
  width: 18px;
  background-image: url('../images/blockcontent_v.png');
}

.Webblockcontent-cr
{
  right: 0;
  clip: rect(auto, auto, auto, 9px);
}

.Webblockcontent-cl
{
  left: 0;
  clip: rect(auto, 9px, auto, auto);
}

.Webblockcontent-cc
{
  position: absolute;
  top: 9px;
  left: 9px;
  right: 9px;
  bottom: 9px;
  background-image: url('../images/blockcontent_c.png');
}

.Webblockcontent-body table,
.Webblockcontent-body li, 
.Webblockcontent-body a,
.Webblockcontent-body a:link,
.Webblockcontent-body a:visited,
.Webblockcontent-body a:hover
{
  color: #BCB39A;
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 13px;
}

.Webblockcontent-body p
{
  margin: 6px 0;
}

.Webblockcontent-body a, .Webblockcontent-body a:link
{
  color: #D6B42E;
  text-decoration: underline;
}

.Webblockcontent-body a:visited, .Webblockcontent-body a.visited
{
  color: #EBE8E0; 
  text-decoration: none;
}

.Webblockcontent-body a:hover, .Webblockcontent-body a.hover
{
  color: #FDD99B;
  text-decoration: none;
}

.Webblockcontent-body ul li
{
  line-height: 125%;    
  color: #C8C1AC;
  padding: 0 0 0 13px;
  background-image: url('../images/blockcontentbullets.png');
  background-repeat: no-repeat;
}/* end Box, BlockContent */

/* begin Button */
.Webbutton-wrapper a.Webbutton,
.Webbutton-wrapper a.Webbutton:link,
.Webbutton-wrapper input.Webbutton,
.Webbutton-wrapper button.Webbutton
{
  text-decoration: none;
  font-family: Arial, Helvetica, Sans-Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  position:relative;
  top:0;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  color: #221F16 !important;
  width: auto;
  outline: none;
  border: none;
  background: none;
  line-height: 32px;
  height: 32px;
  margin: 0 !important;
  padding: 0 16px !important;
  overflow: visible;
  cursor: pointer;
}

.Webbutton img, .Webbutton-wrapper img
{
  margin: 0;
  vertical-align: middle;
}

.Webbutton-wrapper
{
  vertical-align: middle;
  display: inline-block;
  position: relative;
  height: 32px;
  overflow: hidden;
  white-space: nowrap;
  width: auto;
  margin: 0;
  padding: 0;
  z-index: 0;
}

.firefox2 .Webbutton-wrapper
{
  display: block;
  float: left;
}

input, select, textarea
{
  vertical-align: middle;
  font-family: Arial, Helvetica, Sans-Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
}

.Webblock select 
{
    width:96%;
}

.Webbutton-wrapper.hover .Webbutton, .Webbutton-wrapper.hover a.Webbutton:link, .Webbutton:hover
{
  color: #372301 !important;
  text-decoration: none !important;
}

.Webbutton-wrapper.active .Webbutton, .Webbutton-wrapper.active a.Webbutton:link
{
  color: #2F2709 !important;
}

.Webbutton-wrapper .Webbutton-l, .Webbutton-wrapper .Webbutton-r
{
  display: block;
  position: absolute;
  height: 106px;
  margin: 0;
  padding: 0;
  background-image: url('../images/button.png');
}

.Webbutton-wrapper .Webbutton-l
{
  left: 0;
  right: 10px;
}

.Webbutton-wrapper .Webbutton-r
{
  width: 409px;
  right: 0;
  clip: rect(auto, auto, auto, 399px);
}

.Webbutton-wrapper.hover .Webbutton-l, .Webbutton-wrapper.hover .Webbutton-r
{
  top: -37px;
}

.Webbutton-wrapper.active .Webbutton-l, .Webbutton-wrapper.active .Webbutton-r
{
  top: -74px;
}

.Webbutton-wrapper input
{
  float: none !important;
}
/* end Button */

/* begin Box, Post */
.Webpost
{
  position: relative;
  min-width: 1px;
  min-height: 1px;
  margin: 0;
}

.Webpost-body
{
  position: relative;
  padding: 10px;
}

a img
{
  border: 0;
}

.Webarticle img, img.Webarticle, .Webblock img, .Webfooter img
{
  border: solid 0 #776D50;
  margin: 7px;
}

.Webmetadata-icons img
{
  border: none;
  vertical-align: middle;
  margin: 2px;
}

.Webarticle table, table.Webarticle
{
  border-collapse: collapse;
  margin: 1px;
}

.Webarticle th, .Webarticle td
{
  padding: 2px;
  border: solid 0px #908360;
  vertical-align: top;
  text-align: left;
}

.Webarticle th
{
  text-align: center;
  vertical-align: middle;
  padding: 7px;
}

pre
{
  overflow: auto;
  padding: 0.1em;
}

/* end Box, Post */

/* begin PostHeaderIcon */
h2.Webpostheader
{
  color: #B8AE94;
  margin: 5px 0;
  font-size: 24px;
}

h2.Webpostheader a, 
h2.Webpostheader a:link, 
h2.Webpostheader a:visited,
h2.Webpostheader a.visited,
h2.Webpostheader a:hover,
h2.Webpostheader a.hovered
{
  font-size: 24px;
}

h2.Webpostheader a, h2.Webpostheader a:link
{
  text-align: left;
  text-decoration: none;
  color: #CCAC28;
}

h2.Webpostheader a:visited, h2.Webpostheader a.visited
{
  color: #F7F1D9;
}

h2.Webpostheader a:hover,  h2.Webpostheader a.hovered
{
  color: #D1AF29;
}

/* end PostHeaderIcon */

/* begin PostIcons, PostHeaderIcons */
.Webpostheadericons,
.Webpostheadericons a,
.Webpostheadericons a:link,
.Webpostheadericons a:visited,
.Webpostheadericons a:hover
{
  font-family: Arial, Helvetica, Sans-Serif;
  color: #D4CEBF;
}

.Webpostheadericons
{
  padding: 1px;
}

.Webpostheadericons a, .Webpostheadericons a:link
{
  text-decoration: none;
  color: #C0B7A0;
}

.Webpostheadericons a:visited, .Webpostheadericons a.visited
{
  font-style: italic;
  font-weight: normal;
  color: #C0B7A0;
}

.Webpostheadericons a:hover, .Webpostheadericons a.hover
{
  font-style: italic;
  font-weight: normal;
  text-decoration: underline;
  color: #F59D05;
}
/* end PostIcons, PostHeaderIcons */

/* begin PostBullets */
.Webpost ol, .Webpost ul
{
  margin: 1em 0 1em 2em;
  padding: 0;
}

.Webpost li
{
  font-size: 13px;
  color: #B8AE94;
  padding: 0 0 0 13px;
}

.Webpost li ol, .Webpost li ul
{
  margin: 0.5em 0 0.5em 2em;
  padding: 0;
}

.Webpost ol>li
{
  background: none;
  padding-left: 0;
  /* overrides overflow for "ul li" and sets the default value */
  overflow: visible;
}

.Webpost ul>li
{
  background-image: url('../images/postbullets.png');
  background-repeat: no-repeat;
  padding-left: 13px;
  /* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
  overflow-y: hidden;
}

/* end PostBullets */

/* begin PostQuote */
.Webpostcontent blockquote,
.Webpostcontent blockquote a,
.Webpostcontent blockquote a:link,
.Webpostcontent blockquote a:visited,
.Webpostcontent blockquote a:hover
{
  color: #BCB39A;
  font-style: italic;
  font-weight: normal;
  text-align: left;
}

.Webpostcontent blockquote p
{
   margin: 2px 0 2px 15px;
}

.Webpostcontent blockquote
{
   border: solid 0 #776D50;
  margin: 10px 10px 10px 50px;
  padding: 0 0 0 28px;
  background-color: #46402F;
  background-image: url('../images/postquote.png');
  background-position: left top;
  background-repeat: no-repeat;
  /* makes blockquote not to align behind the image if they are in the same line */
  overflow: auto;
  clear:both;
}

/* end PostQuote */

/* begin PostIcons, PostFooterIcons */
.Webpostfootericons,
.Webpostfootericons a,
.Webpostfootericons a:link,
.Webpostfootericons a:visited,
.Webpostfootericons a:hover
{
  font-family: Arial, Helvetica, Sans-Serif;
  color: #E2DFD4;
}

.Webpostfootericons
{
  padding: 1px;
}

.Webpostfootericons a, .Webpostfootericons a:link
{
  text-decoration: none;
  color: #C0B7A0;
}

.Webpostfootericons a:visited, .Webpostfootericons a.visited
{
  color: #C0B7A0;
}

.Webpostfootericons a:hover, .Webpostfootericons a.hover
{
  color: #F59D05;
}
/* end PostIcons, PostFooterIcons */

/* begin Footer */
.Webfooter
{
  position: relative;
  margin-top:0;
  margin-bottom:0;
  width: 100%;
}

.Webfooter-b 
{
  position: absolute;
  left:5px;
  right:5px;
  bottom:0;
  height:5px;
  background-image: url('../images/footer_b.png');
}

.Webfooter-r, .Webfooter-l
{
  position: absolute;
  height:5px;
  background-image: url('../images/footer_s.png');
  bottom: 0;
}

.Webfooter-l
{
  left: 0;
  width:5px;
}

.Webfooter-r
{
  right: 0;
  width:10px;
  clip: rect(auto, auto, auto, 5px);
}

.Webfooter-t
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 5px;
  background-color: #46402F;
}

.Webfooter-body
{
    position:relative;
    padding: 5px;
}

.Webfooter-text p
{
  padding:0;
  margin:0;
  text-align: center;
}

.Webfooter-text,
.Webfooter-text a,
.Webfooter-text a:link,
.Webfooter-text a:visited,
.Webfooter-text a:hover,
.Webfooter-text td, 
.Webfooter-text th,
.Webfooter-text caption
{
    color: #D2CCBC;
    font-size: 11px;
}

.Webfooter-text
{
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.Webfooter-text a,
.Webfooter-text a:link
{
  color: #E2CA6A;
  text-decoration: none;
}

.Webfooter-text a:visited
{
  color: #DAD5C8;
}

.Webfooter-text a:hover
{
  color: #F0E4B2;
  text-decoration: underline;
}

div.Webfooter img
{
/* WARNING do NOT collapse this to 'border' - inheritance! */
    border-color: #776D50;
  border-style: solid;
  margin: 0;
}/* end Footer */

/* begin PageFooter */
.Webpage-footer, 
.Webpage-footer a,
.Webpage-footer a:link,
.Webpage-footer a:visited,
.Webpage-footer a:hover
{
  font-family: Arial;
  font-size: 10px;
  letter-spacing: normal;
  word-spacing: normal;
  font-style: normal;
  font-weight: normal;
  text-decoration: underline;
  color: #FCC25F;
}

.Webpage-footer
{
  padding: 1em;
  text-align: center;
  text-decoration: none;
  color: #BEB59D;
}
/* end PageFooter */

/* begin LayoutCell, content */

/* end LayoutCell, content */


