/* begin Page */

/* Created by Artisteer v3.0.0.41778 */

#Webpage-background-glare
{
  zoom: 1;
}

#Webpage-background-glare-image
{
  position:absolute;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/page_gl.png',sizingMethod='crop')");
  zoom: 1;
}

img
{
  filter: expression(artFixPNG(this));
}

.cleared 
{
    width:1px;
}
/* end Page */

/* begin Box, Sheet */
.Websheet, .Websheet-body
{
  zoom: 1;
}

.Websheet-tr, .Websheet-tl, .Websheet-br, .Websheet-bl, .Websheet-tc, .Websheet-bc,.Websheet-cr, .Websheet-cl
{
  font-size: 1px;
  background: none;
}

.Websheet-tr, .Websheet-tl, .Websheet-br, .Websheet-bl
{
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/sheet_s.png',sizingMethod='scale')");
}

.Websheet-tl
{
  clip: rect(auto 18px 18px auto);
}

.Websheet-tr
{
  left:expression(this.parentNode.offsetWidth-36+'px');
  clip: rect(auto auto 18px 18px);
}

.Websheet-bl
{
  top: expression(this.parentNode.offsetHeight-36+'px');
  clip: rect(18px 18px auto auto);
}

.Websheet-br
{
  top: expression(this.parentNode.offsetHeight-36+'px');
  left:expression(this.parentNode.offsetWidth-36+'px');
  clip: rect(18px auto auto 18px);
}

.Websheet-tc, .Websheet-bc
{
  width: expression(this.parentNode.offsetWidth-36+'px');
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/sheet_h.png',sizingMethod='scale')");
}

.Websheet-tc
{
  clip: rect(auto auto 18px auto);
}

.Websheet-bc
{
  top: expression(this.parentNode.offsetHeight-36+'px');
  clip: rect(18px auto auto auto);
}

.Websheet-cr, .Websheet-cl
{
  height: expression(this.parentNode.offsetHeight-36+'px');
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/sheet_v.png',sizingMethod='scale')");
}

.Websheet-cr
{
  left:expression(this.parentNode.offsetWidth-36+'px');
  clip: rect(auto auto auto 18px);
}

.Websheet-cl
{
  clip: rect(auto 18px auto auto);
}

.Websheet-cc
{
  font-size: 1px;
  width: expression(this.parentNode.offsetWidth-36+'px');
  height: expression(this.parentNode.offsetHeight-36+'px');
  background-color: #211E17;
}
#Webpage-background-top-texture, #Webpage-background-middle-texture
{
  width: expression(document.body.clientWidth>800?"100%":"800px");
}

/* end Box, Sheet */

/* begin Header */
div.Webheader-png
{
  font-size: 1px;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/header.png',sizingMethod='crop')");
}

/* end Header */

/* begin Menu */
.Webhmenu ul
{
  width: 1px;
  height: 1%;
}

.Webhmenu li.Webhmenuhover
{
  z-index: 10000;
}

.Webhmenu .WebhmenuhoverUL
{
  visibility: visible;
  top: 100%;
  left: 0;
}

.Webhmenu .WebhmenuhoverUL .WebhmenuhoverUL
{
  top: 0;
  left: 100%;
}

.Webhmenu, .Webhmenu ul a
{
  height: 1%;
}

.Webhmenu li li
{
  float: left;
  width: 100%;
}

.Webnav
{
  zoom: 1;
  height: 38px;
}

.Webnav-l, .Webnav-r
{
  font-size: 1px;
  height: 38px;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/nav.png',sizingMethod='crop')");
}

.Webnav-l
{
  width: expression(this.parentNode.offsetWidth-5+'px');
}

.Webnav-r
{
  left: expression(this.parentNode.offsetWidth-792+'px');
  clip: rect(auto auto auto 787px);
}

/* end Menu */

/* begin MenuItem */
.Webhmenu a
{
  display:inline-block;
}

.Webhmenu a:hover, .WebhmenuhoverA {
	visibility:visible;
}

.Webhmenu a .r, .Webhmenu a .l
{
  font-size: 1px;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/menuitem.png',sizingMethod='crop')");
}

.Webhmenu a .r
{
  left:100%;
  margin-left:-408px;
  clip: rect(auto auto auto 404px);
}

.Webhmenu a .l
{
  width: expression(this.parentNode.offsetWidth-4+'px');
}

.Webhmenuhover .WebhmenuhoverA .t
{
  color: #221F16;
}

.Webhmenuhover .WebhmenuhoverA .l, .Webhmenuhover .WebhmenuhoverA .r
{
  top: -26px;
}
/* end MenuItem */

/* begin MenuSeparator */
.Webnav .Webhmenu-separator
{
  font-size: 1px;
  zoom: 1;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/menuseparator.png',sizingMethod='crop')");
}

/* end MenuSeparator */

/* begin MenuSubItem */
.Webhmenu ul a
{
  color: #DCD8CB !important;
}

.Webhmenu ul a:hover {
  color: #000000 !important;
}	

.Webhmenu ul .Webhmenuhover .WebhmenuhoverA
{
  color: #000000 !important;
  border-color: #A39775;
  background-position: 0 -26px;
}

.Webnav .Webhmenu ul a:hover span, .Webnav .Webhmenu ul a:hover span span
{
  color: #000000 !important;
}	

.Webnav .Webhmenu ul .Webhmenuhover .WebhmenuhoverA span, .Webnav .Webhmenu ul .Webhmenuhover .WebhmenuhoverA span span
{
  color: #000000 !important;
}

/* end MenuSubItem */

/* begin Layout */
.Webcontent-layout, .Webcontent-layout-row {display: block;}
.Webcontent-layout, .Webcontent-layout-row {zoom: 1;}
/* end Layout */

/* begin Box, Block */
.Webblock, .Webblock-body
{
  zoom: 1;
}
/* end Box, Block */

/* begin BlockHeader */
.Webblockheader
{
  zoom: 1;
}

/* end BlockHeader */

/* begin Box, BlockContent */
.Webblockcontent, .Webblockcontent-body
{
  zoom: 1;
}

.Webblockcontent-tr, .Webblockcontent-tl, .Webblockcontent-br, .Webblockcontent-bl, .Webblockcontent-tc, .Webblockcontent-bc,.Webblockcontent-cr, .Webblockcontent-cl
{
  font-size: 1px;
  background: none;
}

.Webblockcontent-tr, .Webblockcontent-tl, .Webblockcontent-br, .Webblockcontent-bl
{
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/blockcontent_s.png',sizingMethod='scale')");
}

.Webblockcontent-tl
{
  clip: rect(auto 9px 9px auto);
}

.Webblockcontent-tr
{
  left:expression(this.parentNode.offsetWidth-18+'px');
  clip: rect(auto auto 9px 9px);
}

.Webblockcontent-bl
{
  top: expression(this.parentNode.offsetHeight-18+'px');
  clip: rect(9px 9px auto auto);
}

.Webblockcontent-br
{
  top: expression(this.parentNode.offsetHeight-18+'px');
  left:expression(this.parentNode.offsetWidth-18+'px');
  clip: rect(9px auto auto 9px);
}

.Webblockcontent-tc, .Webblockcontent-bc
{
  width: expression(this.parentNode.offsetWidth-18+'px');
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/blockcontent_h.png',sizingMethod='scale')");
}

.Webblockcontent-tc
{
  clip: rect(auto auto 9px auto);
}

.Webblockcontent-bc
{
  top: expression(this.parentNode.offsetHeight-18+'px');
  clip: rect(9px auto auto auto);
}

.Webblockcontent-cr, .Webblockcontent-cl
{
  height: expression(this.parentNode.offsetHeight-18+'px');
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/blockcontent_v.png',sizingMethod='scale')");
}

.Webblockcontent-cr
{
  left:expression(this.parentNode.offsetWidth-18+'px');
  clip: rect(auto auto auto 9px);
}

.Webblockcontent-cl
{
  clip: rect(auto 9px auto auto);
}

.Webblockcontent-cc
{
  font-size: 1px;
  width: expression(this.parentNode.offsetWidth-18+'px');
  height: expression(this.parentNode.offsetHeight-18+'px');
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/blockcontent_c.png',sizingMethod='scale')");
}
.Webblockcontent-body ul li
{
  height: 1%;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/blockcontentbullets.png',sizingMethod='crop')");
}

/* end Box, BlockContent */

/* begin Button */
.Webbutton-wrapper, .Webbutton-wrapper .Webbutton-l, .Webbutton-wrapper .Webbutton-r
{
  zoom: 1;
}

.Webbutton-wrapper .Webbutton
{
  float: left;
}

.Webbutton-wrapper .Webbutton-l, .Webbutton-wrapper .Webbutton-r
{
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/button.png',sizingMethod='crop')");
}

.Webbutton-wrapper .Webbutton-r
{
  left:expression(this.parentNode.offsetWidth-409+'px');
  clip: rect(auto auto auto 399px);
}

.Webbutton-wrapper .Webbutton-l
{
  width: expression(this.parentNode.offsetWidth-10+'px');
}
/* end Button */

/* begin Box, Post */
.Webpost, .Webpost-body
{
  zoom: 1;
}
/* end Box, Post */

/* begin PostBullets */
.Webpost ul li, .Webpost ol ul li
{
  height: 1%;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/postbullets.png',sizingMethod='crop')");
  padding-left: 13px;
  /* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
  overflow-y: hidden;
}

.Webpost ul ol li
{
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="");
  padding-left: 0;
  /* overrides overflow for "ul li" and sets the default value */
  overflow: visible;
}
/* end PostBullets */

/* begin PostQuote */
.Webpostcontent blockquote
{
  height: 1%;
  background-image: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/postquote.png',sizingMethod='crop')");
}
/* end PostQuote */

/* begin Footer */
.Webfooter-body
{
    padding-right: 0;
  zoom:1;
}

.Webfooter{
  zoom:1;
}

.Webfooter-text
{
  height: 1px;
}

.Webfooter-b 
{
  top: expression(this.parentNode.offsetHeight-5+'px');
  width: expression(this.parentNode.offsetWidth-10+'px');
  zoom: 1;
  font-size: 1px;
}

.Webfooter-r, .Webfooter-l
{
  top: expression(this.parentNode.offsetHeight-5+'px');
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/footer_s.png',sizingMethod='crop')");
  zoom: 1;
  font-size: 1px;
}

.Webfooter-r
{
  left: expression(this.parentNode.offsetWidth-10+'px');
  clip: rect(auto auto auto 5px);
}

.Webfooter-t
{
  zoom: 1;
  font-size: 1px;
  height: expression(this.parentNode.offsetHeight-5+'px');
  width: 100%;
}

/* end Footer */

/* begin LayoutCell, content */

.Webcontent {width: auto;}
.Webcontent-layout .Weblayout-cell, .Webcontent-layout .Weblayout-cell .Webcontent-layout .Weblayout-cell
{
  display: block;
  position:relative;
  float: left;
  clear: right;
}
.Webcontent-layout .Weblayout-cell, .Webcontent-layout .Weblayout-cell .Webcontent-layout .Weblayout-cell {zoom:1;}

/* end LayoutCell, content */

